@import "values";

html { background: url(../images/top-red-bar.png) center top no-repeat #fff; font-family: 'Source Sans Pro', sans-serif; -webkit-text-size-adjust: 100%; box-sizing: border-box; }
body { margin: 0; }

*,
*:before,
*:after { box-sizing: inherit; }

div,
a,
span { -webkit-tap-highlight-color: rgba(0,0,0,0); }

a { 
    color: $default-link; text-decoration: none; border-bottom: 1px solid rgba($default-link, 0.25); @include transition(150ms all); 
    
    &:hover { border-bottom: 1px solid rgba($default-link, 0.8); }
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; overflow: hidden; line-height: 1px; font-size: 1px; }

img { max-width: 100%; }

/* typography */

@font-face {
    font-family: 'dincond-boldbold';
    src: url('fonts/ff_din_condensed_bold-webfont.eot');
    src: url('fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dincond-regularregular';
    src: url('fonts/ff_din_condensed_regular-webfont.eot');
    src: url('fonts/ff_din_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_regular-webfont.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 { font-family: 'dincond-boldbold'; margin-top: 0; font-size: $font-size-7; }
h2 { font-family: 'dincond-regularregular'; margin-top: 0; font-size: $font-size-6; color: $default-text; text-transform: uppercase; letter-spacing: -0.05em; }
h3 { font-family: 'dincond-regularregular'; margin-top: 0; font-size: $font-size-5; color: $default-text; margin-bottom: 15px; }
h4 { }
h5 { }

p { color: $default-text; margin-top: 0; line-height: 1.5em; }
p.medium { font-size: $font-size-3; }
p.large { font-size: $font-size-4;  }

.btn-text { font-weight: bold; letter-spacing: -0.05em; }
.btn-chevron { 
    background: url(../images/chevron.svg) no-repeat; font-weight: bold; background-size: 20px 20px; padding-left: 25px; border-bottom: none; letter-spacing: -0.05em;
    
    span { border-bottom: 1px solid rgba($default-link, 0.25); }
    
    &:hover { 
        border-bottom: none;
        
        span { border-bottom: 1px solid rgba($default-link, 0.8); }
    }
}