---
title: Homepage
bodyClass: home-page
---

<div class="layout-main">
        
    <section class="layout-splash">
        <div class="splash-inner">
            <img src="images/splash/home.jpg" class="splash-image" />
        </div>
        <div class="splash-bottom">
            <div class="splash-inner">
                <a href="#">
                    <strong class="splash-title">WhiteLase SC400-20</strong>
                    <span class="splash-subtitle">The world's most powerful blue-enahnced supercontinuum fiber laser</span>
                    <span class="splash-cta">Find out more about SC400-20 &rsaquo;</span>
                </a>
            </div>
        </div>
    </section>

    <section class="home-intro">
        <p class="large">Bacon ipsum dolor amet eiusmod elit mollit ex id, flank cupidatat ut strip steak. Ground round duis lorem officia beef ea. Pastrami ribeye biltong aute. Qui sirloin pork loin sint.</p>
        <p class="large">Labore tenderloin commodo short loin in brisket ham salami tongue andouille porchetta chicken ribeye spare ribs.</p>
    </section>

    <section class="home-text-sections">
        <div class="home-text-section">
            <h3>Latest News</h3>
            <p>
                <a href="">22.06.2015: New 20W Blue-enhanced Supercontinuum Fiber Laser</a>
            </p>
        </div>
        <div class="home-text-section">
            <h3>Ex-demo Equipment</h3>
            <p>
                <a href="">Mollit voluptate esse ex sunt ribeye porchetta dolore commodo</a>
            </p>
        </div>
        <div class="home-text-section">
            <h3>Careers</h3>
            <p>
                <a href="">Turducken et incididunt, bresaola laborum porchetta sed filet mignon pork dolore ad cupidatat in aute pork loin</a>
            </p>
        </div>
    </section>

    <section class="home-products">
        <div class="header">
            <h2>Our Product Range</h2>
            <a href="" class="btn-text">See our full product range in more detail &rsaquo;</a>
        </div>
        <div class="home-product">
            <img src="images/home/home-whitelase.jpg" />
            <h3>WhiteLase SuperContinuum Lasers</h3>
            <p>Qui sirloin pork loin sint. Pastrami kielbasa jowl tenderloin, proident porchetta biltong filet mignon ipsum irure ex minim ham.</p>
            <a href="" class="btn-chevron"><span>Discover WhiteLase</span></a>
        </div>
        <div class="home-product">
            <img src="images/home/home-femtopower.jpg" />
            <h3>FemtoPower Femtosecond Lasers</h3>
            <p>Adipisicing proident in, ham hock ea ut et sunt. Swine ball tip cow prosciutto eiusmod cupidatat chuck ipsum fugiat bresaola spare ribs quis, pork loin in fatback.</p>
            <a href="" class="btn-chevron"><span>Discover FemtoPower</span></a>
        </div>
        <div class="home-product">
            <img src="images/home/home-hylase.jpg" />
            <h3>HYLASE High-Energy Lasers</h3>
            <p>Nostrud laboris duis ullamco meatball sint. T-bone exercitation tri-tip ribeye, cupidatat ham hock aute meatball.</p>
            <a href="" class="btn-chevron"><span>Discover HYLASE</span></a>
        </div>
    </section>

    <section class="layout-twitter">
        <div class="latest-tweets">
            <h2>Latest Tweet</h2>
            <div class="twitter"></div>
            <p><a href="https://twitter.com/FianiumLtd" target="_blank" class="twitter-follow right">Follow us on twitter</a></p>
        </div>
    </section> 

    <section class="home-applications">
        <div class="header">
            <h2>Applications</h2>
            <a href="" class="btn-text">Read about applications for our fiber lasers &rsaquo;</a>
        </div>
        <div class="home-application">
            <img src="images/home/home-spec.jpg" />
            <h3>Spectrocopy</h3>
            <p>Do eiusmod incididunt corned beef, venison porchetta magna kevin pariatur turkey nulla ball tip exercitation salami.</p>
        </div>
        <div class="home-application">
            <img src="images/home/home-micro.jpg" />
            <h3>Micro-machining</h3>
            <p>Swine short ribs sirloin, lorem et minim cillum shoulder flank.</p>
        </div>
        <div class="home-application">
            <img src="images/home/home-bio.jpg" />
            <h3>Bio-imaging</h3>
            <p>Ribeye swine tri-tip pig consequat magna anim. Non pork chop ball tip cow sed eu commodo do shankle tempor ground round.</p>
        </div>
        <div class="home-application">
            <img src="images/home/home-nano.jpg" />
            <h3>Nanophotonics</h3>
            <p>Turducken et incididunt, bresaola laborum porchetta sed filet mignon pork dolore ad cupidatat in aute pork loin.</p>
        </div>
    </section>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript">
	$(function(){
		App.Ui.twitter();
	});
</script>
{{/content}}
<!--<div class="main">
	<h1>header</h1> 
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 1</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 2</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 3</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
</div>-->