<header class="layout-top" id="top">
    <div class="layout-content"> 
        <div class="header-overlay">
        	<a href="#" class="logo"></a>
            <span class="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
        </div>
        <ol class="nav-top">
            <li class="_nav-a">
                <a href="#" class="has-sub-nav">aaaaa<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">aaaaaaaaa aaaa</a></li>
                        <li><a href="#">aaaa aaaaaa</a></li>
                        <li><a href="#">aaaaaaaaaaaa</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-b">
                <a href="#" class="has-sub-nav">bbbbb<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">bbbbbbbbbbbbbbbb</a></li>
                        <li><a href="#">bbbbb</a></li>
                        <li><a href="#">bbbbbb</a></li>
                        <li><a href="#">bbbbbbbbb</a></li>
                        <li><a href="#">bbbbbbbbbbb bbbbbbb</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-c">
                <a href="#" class="has-sub-nav">ccccccccccc<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">cccc ccccccc</a></li>
                        <li><a href="#">ccccccccc cccccc</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-d">
                <a href="#" class="has-sub-nav">dddddd<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">ddddddddddd</a></li>
                        <li><a href="#">ddddddddd dddddd</a></li>
                        <li><a href="#">ddddddd</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-e">
                <a href="#" class="has-sub-nav">eeeeeeee<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">xxxxxxxxx</a></li>
                        <li><a href="#">xxxxxxxxxxxx</a></li>
                        <li><a href="#">xxxxx</a></li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
</header>
<div class="main">
	<h1>header</h1> 
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 1</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 2</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 3</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
</div>