---
title: home
bodyClass: approval
---

<div class="main">
	<h1>header</h1> 
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 1</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 2</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
	<div class="column">
		<img src="images/small.jpg" srcset="images/small.jpg 450w, images/large.jpg 900w" sizes="(max-width: 31em) 100vw, 33vw" alt="Alt Text" />
		<h2>column 3</h2>
		<p>And if you go down the <picture> with explicit sources, the browser has to do exactly what you say and not make choices for itself. Now, <picture> can be set up such that it does exactly what srcset it going to do right now, it's just a lot more verbose and doesn't leave room for improvement.</p>
	</div>
</div>