---
title: a map page
bodyClass: approval
---

<div class="map">
	<h1>a map</h1>
	<div id="map"></div>
	<a href="#" class="test">test</a>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	$(function(){
		google.maps.event.addDomListener(window, 'load', App.Map.init);
	});
</script>
{{/content}}