---
pagetitle: temp
---
 
<h1>{{ pagetitle }}</h1>
{{#each temp.item}}
<h2>{{ title }}</h2>
	{{#each content }}
	<p>{{ p }}</p>
	{{/each}} 
{{/each}}

<script type="text/javascript">
	$(function(){
		Menu.init();
	});
</script>