<footer class="layout-footer">
    <div class="layout-content">
        <section class="nav-footer-top">
            <span class="footer-logo">Fianium</span>
            
            {{> nav top=false }}

            <a class="back-to-top">Back to top</a>
        </section>
        
        <p class="footer-copyright">&copy; Copyright 2003-2015 Fianium Ltd. <strong>Address:</strong> Fianium Ltd, 20 Compass Point, Ensign Way, Southampton, SO31 4RA. <strong>Company Reg. No:</strong> 4645475</p>
    </div>
</footer>