<header class="layout-top" id="top">
    <div class="layout-content"> 
        <div class="header-overlay">
        	<a href="#" class="logo"></a>
            <span class="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
        </div>
        <!--<ol class="nav-top">
            <li class="_nav-a">
                <a href="#" class="has-sub-nav">aaaaa<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">aaaaaaaaa aaaa</a></li>
                        <li><a href="#">aaaa aaaaaa</a></li>
                        <li><a href="#">aaaaaaaaaaaa</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-b">
                <a href="#" class="has-sub-nav">bbbbb<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">bbbbbbbbbbbbbbbb</a></li>
                        <li><a href="#">bbbbb</a></li>
                        <li><a href="#">bbbbbb</a></li>
                        <li><a href="#">bbbbbbbbb</a></li>
                        <li><a href="#">bbbbbbbbbbb bbbbbbb</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-c">
                <a href="#" class="has-sub-nav">ccccccccccc<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">cccc ccccccc</a></li>
                        <li><a href="#">ccccccccc cccccc</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-d">
                <a href="#" class="has-sub-nav">dddddd<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">ddddddddddd</a></li>
                        <li><a href="#">ddddddddd dddddd</a></li>
                        <li><a href="#">ddddddd</a></li>
                    </ul>
                </div>
            </li>
            <li class="_nav-e">
                <a href="#" class="has-sub-nav">eeeeeeee<i></i></a>
                <div class="sub-nav">
                    <ul>
                        <li><a href="#">xxxxxxxxx</a></li>
                        <li><a href="#">xxxxxxxxxxxx</a></li>
                        <li><a href="#">xxxxx</a></li>
                    </ul>
                </div>
            </li>
        </ol>-->
        <ol class="nav-top">
        {{#each pages.page}}
            <li>
                <a href="#" class="has-sub-nav">{{ title }}<i></i></a>
                {{#subnav}}
                <div class="sub-nav">
                    <ul>
                        {{#each subnav}}
                        <li><a href="{{ url }}">{{ title }}</a></li>
                        {{/each}}
                    </ul>
                </div>
                {{/subnav}}
            </li>
        {{/each}}
        </ol>
    </div>
</header>