<header class="layout-top" id="top">
    <div class="layout-content"> 
        <div class="header-overlay">
        	<a href="#" class="logo"></a>
            <span class="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
        </div>
        {{> nav top=true }}
    </div>
</header>